<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
	<test name="Test">
		<classes>
			<class name="org.b3log.JunitTestCoverageTest" />
			<class name="org.b3log.ComplexCalculationTest" />
			<class name="org.b3log.SimpleCalculationTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
